.bannerDouble1 {
  width: 550px;
  height: 200px;
  position: absolute;
  top: 2289px;
  left: 80px;
  gap: 0;
  border-radius: 6.11px 0 0 0;
  opacity: 0;
}

.bannerDouble2 {
  width: 550px;
  height: 200px;
  position: absolute;
  top: 2289px;
  left: 650px;
  gap: 0;
  border-radius: 6.11px 0 0 0;
  opacity: 0;
}
